# SPDX-FileCopyrightText: 2021 Jeff Epler
#
# SPDX-License-Identifier: MIT

__pycache__
latest_bundle_data.json
latest_bundle_tag.json
latest_community_bundle_data.json
latest_community_bundle_tag.json
generated_images

# Virtual environment-specific files
.env
.venv

# MacOS-specific files
*.DS_Store

# IDE-specific files
.idea
.vscode
*~
